



/*------------------------------------------------------------------
[ Alert validate ]*/







/*==================================================================
    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
==================================================================*/

/*==================================================================
[ Color ]*/





/*//////////////////////////////////////////////////////////////////
[ S-Text 0 - 15 ]*/
.s1-txt1 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
}


/*//////////////////////////////////////////////////////////////////
[ M-Text 16 - 25 ]*/

/*---------------------------------------------*/
.m2-txt1 {
  font-family: PlayfairDisplay-Regular;
  font-size: 25px;
  color: #fff;
  line-height: 1.2;
}

.m2-txt2 {
  font-family: PlayfairDisplay-Italic;
  font-size: 18px;
  color: #fff;
  line-height: 1;
}

/*//////////////////////////////////////////////////////////////////
[ L-Text >= 26 ]*/
.l1-txt1 {
  font-family: Poppins-Bold;
  font-size: 48px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}

.l1-txt2 {
  font-family: Poppins-Light;
  font-size: 70px;
  color: #fff;
  border: 3px solid white;
  padding: 16px 20px;
  line-height: 1;
}


/*==================================================================
   SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE
==================================================================*/
/*//////////////////////////////////////////////////////////////////
[ Size ]*/
.size1 {
  width: 60%;
  min-height: 10vh;
}

.size2 {
  min-width: 160px;
  height: 45px;
}



/*//////////////////////////////////////////////////////////////////
[ Width ]*/
.wsize1 {
  max-width: 100%;
  width: 790px;
}

.wsize2 {
  margin: 0px 19px;
  width: 100px;
}


/*//////////////////////////////////////////////////////////////////
[ Height ]*/




/*//////////////////////////////////////////////////////////////////
[ Background ]*/





/*//////////////////////////////////////////////////////////////////
[ Border ]*/
.bor1 {
  border: 2px solid rgba(255,255,255,0.35);
}




/*==================================================================
   WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE
==================================================================*/


/*==================================================================
 HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW
==================================================================*/
.placeholder0::-webkit-input-placeholder { color: #fff;}
.placeholder0:-moz-placeholder { color: #fff;}
.placeholder0::-moz-placeholder { color: #fff;}
.placeholder0:-ms-input-placeholder { color: #fff;}

/*---------------------------------------------*/
.overlay1 {
  position: relative;
  z-index: 1;
}
.overlay1::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
   background: #020033;
  background: -webkit-linear-gradient(bottom,  #020033,  #020033);
  background: -o-linear-gradient(bottom,  #020033,  #020033);
  background: -moz-linear-gradient(bottom,  #020033,  #020033);
  background: linear-gradient(bottom,  #020033,  #020033);
  /*opacity: 0.9;*/
}
